@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    padding: 0px;
    box-sizing: border-box;
    background-image: url('background.jpg');
    font-family: "Poppins", "Sans-serif";
    margin: 0;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px auto;
    background-color: white;
    align-items: center;
    border-radius: 12px;
    padding: 0;
    width: 800px;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login p, .login label {
    font-size: 15px;
}

#signin {
    padding: 8px;
    background-color: rgb(30, 10, 209);
    color: white;
    border-radius: 5px;
    width: 100%;
    max-width: 175px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#header {
    line-height: 20px;
    font-size: 24px;
    margin-bottom: 10px;
}

.loginform {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    padding: 15px;
    line-height: 1.5;
    gap: 20px;
}

.loginimage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .login {
        flex-direction: column;
        width: 90%;
        margin: 50px auto;
    }

    #header {
        font-size: 20px;
    }

    .login p, .login label, #signin {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .login {
        width: 100%;
        margin: 20px auto;
        padding: 10px;
    }

    #header {
        font-size: 18px;
    }

    .login p, .login label, #signin {
        font-size: 12px;
    }

    .loginform {
        padding: 10px;
    }

    .loginimage {
        padding: 10px;
    }
}
