<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="Teampage.css">
</head>
<body>
    <header>
        <h1>Meet The Tech Titans Team</h1>
    </header>

    <section class="team">
        <div class="team-member">
            <img src="Chiamaka Emmanuel.jpg" alt="Chiamaka Emmanuel" class="team-photo">
            <div class="team-description">
                <h3>Chiamaka Emmanuel</h3>
                <p>Developer | Team lead</p>
            </div>
        </div>

        <div class="team-member">
            <img src="Iheive Gideon.jpg " alt="Ihieve Gideon" class="team-photo">
            <div class="team-description">
                <h3>Ihieve Gideon</h3>
                <p> Developer</p>
            </div>
        </div>

        <div class="team-member">
            <img src="Bashir Opaoluwa.jpg" alt="Bashir Opaoluwa" class="team-photo">
            <div class="team-description">
                <h3>Bashir Opaluwa</h3>
                <p>Developer</p>
            </div>
        </div>

        <div class="team-member">
            <img src="Elijah Israel.jpg" alt="Elijah Israel" class="team-photo">
            <div class="team-description">
                <h3>Elijah Israel</h3>
                <p>Developer</p>
            </div>
        </div>

        <div class="team-member">
            <img src="Stephen Zinabe .jpg" alt="Stephen Zinabe" class="team-photo">
            <div class="team-description">
                <h3>Stephen Zinabe</h3>
                <p>Developer</p>
            </div>
        </div>

        <div class="team-member">
            <img src="Tobi Abidoye.jpg" alt="Tobi Abidoye" class="team-photo">
            <div class="team-description">
                <h3>Tobi Abidoye</h3>
                <p>Developer </p>
            </div>
        </div>

        <div class="team-member">
            <img src="Awwak Mohammed.jpg" alt="Awwak Mohammed" class="team-photo">
            <div class="team-description">
                <h3>Awwak Mohammed</h3>
                <p> Developer</p>
            </div>
        </div>

        <div class="team-member">
            <img src="Zubairu Yunusa Onipe.jpg" alt="Zubairu Yunusa Onipe" class="team-photo">
            <div class="team-description">
                <h3>Zubairu Yunusa Onipe</h3>
                <p> Developer</p>
            </div>
        </div>
    </section>
</body>
</html>
